
<div class="menu-bar">
    <span class="menu-toggle">&#9776; Menu</span>
    <span class="site-title">Inventory Management</span>
</div>
<div class="col-md-3 sidebar">
    <h2>Inventory Sidebar</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link <%= activePage === '/' ? 'active' : '' %>" href="/upload/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === '/product_list' ? 'active' : '' %>" href="/product_list">All Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === '/upload/create' ? 'active' : '' %>" href="/upload/create">Create Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === '/categories/create' ? 'active' : '' %>" href="/categories/create">Create Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === '/categories' ? 'active' : '' %>" href="/categories">Category List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === '/upload/logout' ? 'active' : '' %>" href="/upload/logout">Logout</a>
        </li>
    </ul>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var menuToggle = document.querySelector('.menu-toggle');
        var sidebar = document.querySelector('.sidebar');

        menuToggle.addEventListener('click', function() {
            sidebar.classList.toggle('show');
        });
    });
</script>